@import "@fontsource-variable/inter";
@import "@fontsource-variable/geist-mono";

@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

@layer base {
  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}

:root {
  --font-size: medium;
}

html, body {
  background: black;
  color: white;
}
